/* @import url(https://db.onlinewebfonts.com/c/543337aba2ed98210be81a0d911561ca?family=Dessau); */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
* {
}
nav {
  border-bottom: #151515 1px solid;
}
nav a {
  text-decoration: none;

  color: #151515;

  display: flex;
  align-items: center;
  margin: 1rem;
}

nav a span {
  margin-left: 0.5rem;
  font-size: 1.75rem;
}

.board {
  margin: 1rem;
  border: 2px solid #151515;
  border-radius: 10px;
}

.board a {
  text-decoration: none;
  color: #151515;
}

.board h5 {
  border-bottom: #151515 2px solid;
}

.card-group {
  margin: 1rem;
}

form {
  margin-left: 1rem;
}
form button {
  margin: 1rem;
}
